@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Judson:400,700');
body {
	margin: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.site-container {
	min-height: 100vh;
}

main {
	flex: 1;
}

a {
	text-decoration: none;
	color: #495057;
}
a:hover {
	color: #212529;
}

/* .modal {
	text-align: center;
} */

/* .modal::before {
	content: '';
	display: inline-block;
	height: 100%;
	margin-right: -4px;
	vertical-align: middle;
} */

/* .modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
} */

.fas,
.fa {
	color: #343a40;
}

.btn-primary,
.btn-outline-primary {
	background-color: #457bad;
	color: #ffffff;
	border-radius: 0.5rem;
	border-width: 0;
}

.rating span {
	color: #457bad;
}

.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}

.product {
	border: 1px;
	margin: 1rem;
}

.product img {
	width: 100%;
	max-width: 400px;
}

.product-info {
	padding: 1rem;
}

.img-large {
	max-width: 100%;
}

.img-thumbnail {
	height: 80px;
}

.small-container {
	max-width: 600px;
}

.checkout-steps > div {
	border-bottom: 0.2rem solid #a0a0a0;
	color: #a0a0a0;
}

.checkout-steps > div.active {
	border-bottom: 0.2rem solid #457bad;
	color: #457bad;
}

.custom-link-container {
	color: #f1faee;
	text-indent: 10px;
}

/* sidebar */
.side-navbar {
	width: 240px;
	height: 100%;
	position: absolute;
	left: -300px;
	background-color: #212529;
	transition: 0.5s;
}
.site-container {
	transition: 0.4s;
}
.active-cont {
	margin-left: 240px;
}
.active-nav {
	left: 0;
}

.text-bold {
	font-weight: bold;
}

ul {
	list-style-type: none;
}
